    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Raskal</h2>
                <p>
                    Raskal is a new exciting game development studio in Berlin. 
                    With a team of talented game developers, artists and musicians, we aim to take the German Indie game scene by storm. 
                </p>
            </div>
        </div>
    </section>