    <!-- Download Section -->
    <section id="ekstase" class="content-section text-center">
        <div class="ekstase-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" >
                    <h2>
                         Ekstase
                    </h2>
                    <p>The game that plays you.</p>
                    
                    <p>
                        Lose yourself in the music and find yourself in the flow, in a falling block puzzle game 
                        that confronts you with the ultimate challenge: yourself.                          
                    </p>
                    <p>More info coming soon.</p>
                    <img src="{{ site.url }}/img/levelup.gif">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=4bRCsSPsRiM" frameborder="0" allowfullscreen></iframe> -->
                    
                </div>
            </div>
        </div>
    </section>