    <!-- Download Section -->
    <section id="ekstase" class="content-section text-center">
        <div class="ekstase-section">
            <div class="container">
                <div class="col-8 " >
                    <h2>Ekstase</h2>
                    <p>
                        Ek·s·ta·se
                        <br>
                        /Ekstáse/
                        <br>
                        noun, feminine [die]
                        <br>
                        an ecstatic trance-like state
                        <br>
                        <br>
                        Reach a state of trance as Ekstase kneeds your brain and you drift away to soothing Berliner Techno beats. 
                    </p>
                    <p>More info coming soon...</p>
                </div>
            </div>
        </div>
    </section>