    <!-- Download Section -->
    <section id="ekstase" class="content-section text-center">
        <div class="ekstase-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" style="text-align: left">
                    <h2>Ekstase</h2>
                    <p>A techno-infused arcade puzzler.</p>
                    <p>Lose yourself to the beat of Berliner Techno and find yourself in the flow, in a falling block puzzle game that confronts you with the ultimate challenge: yourself.</p>
                    <p>
                        Get it now on <a href="https://store.steampowered.com/app/1408430/Ekstase/">Steam</a> and <a href="https://raskalgames.itch.io/ekstase/">itch.io</a>
                    
                        <br>
                    </p>
                    <p>
                        <a href="{{ site.baseurl }}/press_kit">Press Kit</a>
                    </p>
                    
                    <p>
                        <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/qRtv1YLk3oM">
                        </iframe> 
                    </p>                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=4bRCsSPsRiM" frameborder="0" allowfullscreen></iframe> -->
                    
                </div>
            </div>
        </div>
    </section>