<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div>
                <h2>Imprint</h2>
                <p>
                Raskal Games UG (haftungsbeschränkt) c/o Dr. Jim Sellmeijer<br>
                Geisbergstr. 29<br>
                10777 Berlin<br>
                Germany<br>
                e-mail: hello@raskal.games<br>                        
                tel: +4917626870385<br>
                </p>
                <p>
                Represented by Dr. Jim Sellmeijer<br>
                HRB 219165 B<br>
                District Court Charlottenburg<br>
                <br>
                VAT registration number (USt-ID): DE332096215<br><br>
                Tax Number (Steuernummer): 29/485/30406
                </p>
                <br><br>


                <h2>Copyright and Trademark Notice</h2>
                <p>
                Copyright © 2020 Raskal Games UG (haftungsbeschränkt). All rights reserved. 
                All trade names, trademarks, logos, and service marks on this site are the property of their respective owners.
            </p>
            <br><br>
            <h2>Warranty Disclaimer and Limitation on Liability</h2>
            <p>
            The information provided on this website is provided on an “as-is” basis without 
            warranties of any kind either express or implied.
            
            In no event will Raskal Games UG (haftungsbeschränkt) be liable for any special, indirect, incidental, 
            exemplary, or consequential damages, including but not limited to, lost revenues or lost profits, business interruption, 
            loss of programs or data, whether incurred by you or a third party, 
            which may result from the use of this site or any other linked site, even if we are advised of the possibility of such damages.

            </p>

            <br><br>
            </div>
        </div>
    </div>
</section>