    <!-- Press Kit Section -->
    <section id="press_kit" class="container content-section text-center">
        <div class="row">
            <p>
            <img src="{{ site.url }}/img/ekstase-logo.png">
            
            <H1>Press Kit</H1>

        </p>

            <div class="col-lg-8 col-lg-offset-2", style="text-align: left">
                <h2>Fact Sheet</h2>
                <ul style="font-size:20px">
                    <li>
                        Release Date: October 1st, 2020 </li>
                    <li>
                        Price: $8,-
                    </li>
                    <li>
                        Platforms: Windows PC and Mac via <a href="https://store.steampowered.com/app/1408430/Ekstase/">Steam</a>
                    </li>
                    <li>
                        Developer: Dr. Jim Sellmeijer
                    </li>
                    <li>
                        Music: Lana Pranaya and Frenk Livjero 
                    </li>
                    <li>
                        Music Animations: Diana-Cristina Enachi
                    </li>
                    <li>
                        Contact: hello@raskal.games
                    </li>
                    <li>
                        Twitter: @gamesraskal
                    </li>
                    <li>
                        Instagram: raskal.games
                    </li>
                    <li>
                        Website: www.raskal.games
                    </li>
                    
                </ul>
                <br>
                <H2>
                    Description 
                </H2>
                <p>
                    Ekstase is a love letter to Berlin and its techno scene. Amazing techno beats and beautiful visuals set the stage for a game that honors the long forgotten falling block puzzle genre. Fresh but familiar gameplay ensures that Ekstase is easy to pick up and sink many hours into. With both classic and new game modes, there is something here for both the casual and the hardcore puzzle game player.

                </p>
                <br>
                <h2>
                    Features  
                </h2>
                <ul style="font-size:20px">
                    <li>
                        Arcade puzzle game 
                    </li>
                    <li>
                        Sweet techno beats 
                    </li>
                    <li>
                        Trippy visuals
                    </li>
                    <li>
                        2 types of play: rotate the colors or rotate the shapes
                    </li>
                    <li>
                        3 game modes: Flow mode, Classic mode and Time Attack mode. 
                    </li>
                    <li>
                        Accessibility: Colorblind settings, options to turn off effects and button mapping
                    </li>
                </ul>
                <br>
                <h2>
                    Video
                </h2>
                <p>
                    <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/qEczF2EB9to">
                    </iframe> 
                </p>
                <br>
                <h2>
                    Logo
                </h2>
                <p>
                    <a target="_blank" href="{{ site.url }}/img/ekstase-logo.png">
                        <img  class = "thumb"  src="{{ site.url }}/img/ekstase-logo.png" alt="Forest">
                      </a>

                </p>
                <br>
                <h2>
                    Screenshots
                </h2>
                <p>

                       
                    <div>

                        <a target="_blank" href="{{ site.url }}/img/screen1.png">
                            <img class = "thumb" src="{{ site.url }}/img/screen1.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen2.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen2.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen3.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen3.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen4.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen4.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen5.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen5.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen6.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen6.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen7.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen7.png" alt="Forest">
                          </a>
                          <a target="_blank" href="{{ site.url }}/img/screen8.png">
                            <img class = "thumb"  src="{{ site.url }}/img/screen8.png" alt="Forest">
                          </a>
                    </div>
                </p>
                <br>
                <h2>
                    About Raskal Games
                </h2>
                <p>
                    Berlin-based Raskal Games was founded by Dutch ex-neuroscientist Dr. Jim Sellmeijer. 
                    During his work as a scientist, he realized that programming was much more fun than 
                    performing brain surgery. It didn’t take long for Jim to pick up software development and 
                    soon he’d be designing and developing his own video games. 
                    <p>
                        Dr. Sellmeijer finds it awkward to write about himself in third-person and prefers to be called "Jim".  
                    </p>
                </p>
               
            </div>
        </div>
    </section>