<!DOCTYPE html>
<html>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167485778-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167485778-1');
</script>

    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include ekstase.html %}

    {% include contact.html %}
    {%comment%}
    {% include download.html %}
    {% include map.html %}
    {%endcomment%}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>